@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.login-box {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 70px 30px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 50px;
  color: #777;
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  border: none;
  border-bottom: 2px solid #777;
  outline: none;
  background-color: transparent;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  transform: translateY(-25px);
  color: #ff652f;
  font-size: 14px;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  pointer-events: none;
  transition: 0.5s;
}

button {
  display: inline-block;
  background-color: #ff652f;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 40px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.5s;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}